.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #3b07b4;
  border: 1px solid #3b07b4;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #d306d3;
  border-color: #d306d3;
}